<form id="datapointForm">
  <div class="form-group">
    <label>
      Min
      <input class="form-control" type="number" ng-model="value.min" placeholder="Min" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      Max
      <input class="form-control" type="number" ng-model="value.max" placeholder="Max" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      Yellow Min
      <input class="form-control" type="number" ng-model="value.yellowRangeMin" placeholder="Min" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      Yellow Max
      <input class="form-control" type="number" ng-model="value.yellowRangeMax" placeholder="Max" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      Red Min
      <input class="form-control" type="number" ng-model="value.redRangeMin" placeholder="Red Range Min" required>
    </label>
  </div>
  <div class="form-group">
    <label>
      Red Max
      <input class="form-control" type="number" ng-model="value.redRangeMax" placeholder="Red Range Max" required>
    </label>
  </div>
</form>
